.wrapper {
  padding: 1em;
  background-color: rgb(247 246 243);
  border-radius: 4px;
  margin-top: 2em;
  margin-bottom: 2em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.code {
  font-size: 14px;
  line-height: 2em;
  color: black;
}

@media (min-width: 900px) {
  .wrapper {
    padding: 2em;
  }
}
