@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Do+Hyeon&family=Noto+Sans+KR:wght@300&display=swap");

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-family: "Bangers", cursive;
  font-family: "Do Hyeon", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
