.button {
  font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.text {
  color: white;
}

.outline {
  color: black;
  background-color: white;
}

.contained {
  color: white;
  border: 1px solid;
}

.primary {
  background-color: var(--blue-color-300);
}

.primary:hover {
  color: var(--blue-color-300);
  border-color: var(--blue-color-300);
  background-color: rgba(var(--blue-color-300), 0.5);
}

.button:disabled {
  color: var(--gray-color-100);
  background-color: var(--gray-color-300);
  border-color: var(--gray-color-100);
}

.secondary {
  background-color: var(--gray-color-300);
}

.secondary:hover {
  background-color: rgba(var(--gray-color-300), 0.5);
}
