.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 100;
  display: flex;
  justify-content: center;
  z-index: 40;
}

.snackBar {
  background-color: rgba(var(--blue-color-100), 0.9);
  min-height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
